<!DOCTYPE html>
<html>
    <head>
        <title>CryptoCurrency Portfolio</title>
        {% include "cryptocurrencies/_style.html" %}
    </head>
    <body>
        <div class="app">
            <div class="sidebar">
                CryptoCurrency Portfolio
            </div>
            <div class="content">
                <div class="header">
                    <h1 class="title">Accounts</h1>
                    <div class="header-stats">
                        <div class="header-stat">
                            <div class="header-stat-title">Spent</div>
                            <div class="header-stat-data">{{ total_spent }}</div>
                        </div>
                        <div class="header-stat">
                            <div class="header-stat-title">Total</div>
                            <div class="header-stat-data">{{ total }}</div>
                        </div>
                        <div class="header-stat">
                            <div class="header-stat-title">Gain</div>
                            <div class="header-stat-data">
                                <span class="{% if total_gain.amount >= 0 %}green{% else %}red{% endif %}">
                                    {{ total_gain }}
                                </span>
                            </div>
                        </div>
                        <div class="header-stat">
                            <div class="header-stat-title">Total gain %</div>
                            <div class="header-stat-data">
                                <span class="{% if total_gain_percentage >= 0 %}green{% else %}red{% endif %}">
                                    {{ total_gain_percentage|floatformat:-2 }} %
                                </span>
                            </div>
                        </div>

                        {% if total_gain %}
                            <div class="header-stat">
                                <div class="header-stat-title">Taxes ({{ taxes_percentage }}%)</div>
                                <div class="header-stat-data">{{ total_taxes }}</div>
                            </div>
                            <div class="header-stat">
                                <div class="header-stat-title">Final gain</div>
                                <div class="header-stat-data">{{ final_gain }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="box">
                {% if crypto_currencies %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Balance</th>
                                    <th>Spent</th>
                                    <th>Total</th>
                                    <th>Gain</th>
                                    <th>% Gain</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for crypto_currency in crypto_currencies %}
                                <tr>
                                    <td>{{ crypto_currency.name }}</td>
                                    <td>{{ crypto_currency.price }}</td>
                                    <td>{{ crypto_currency.balance }}</td>
                                    <td>{{ crypto_currency.spent }}</td>
                                    <td>{{ crypto_currency.total }}</td>
                                    <td>
                                        <span class="{% if crypto_currency.gain.amount >= 0 %}green{% else %}red{% endif %}">
                                            {{ crypto_currency.gain }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="{% if crypto_currency.gain_percentage >= 0 %}green{% else %}red{% endif %}">
                                            {{ crypto_currency.gain_percentage|floatformat:-2}} %
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{ total_spent }}</th>
                                    <th>{{ total }}</th>
                                    <th>
                                        <span class="{% if total_gain.amount >= 0 %}green{% else %}red{% endif %}">
                                            {{ total_gain }}
                                        </span>
                                    </th>
                                    <th>
                                        <span class="{% if total_gain_percentage >= 0 %}green{% else %}red{% endif %}">
                                            {{ total_gain_percentage|floatformat:-2 }} %
                                        </span>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
